@use "@/styles/variables.scss" as v;

.profile-page {
  height: 100%;
  display: flex;

  &__nav {
    flex: 0 05%;
  }

  &__profile {
    flex: 1;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid v.$color-gray-200;
  background-color: v.$color-gray-50;

  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: v.$color-accent;
    color: v.$color-light;
    text-decoration: none;
    cursor: pointer;
  }
}
